<h1>Edit Article</h1>

{{#each data}}

  <form action="/articles/{{title}}?_method=PUT" method="POST">
    <p>Title: <input type="text" name="title" value={{title}} disabled></p>
    <p>Author: <input type="text" name="author" value="{{author}}"></p>
    <p>Body: <input type="text" name="body" value="{{body}}"></p>

    <input type="submit" value="MAKE CHANGES">
  </form> 

  <h1>Delete Article</h1>
  <form action="/articles/{{title}}?_method=DELETE" method="POST">
    Title: <input type="text" name="author" value="{{title}}" disabled>
    <p><input type="submit" value="DELETE"></p>
  </form>

{{/each}}
