<h1>Edit Article</h1>

{{#each data}}

  <form action="/articles/{{uri}}?_method=PUT" accept="utf-8" enctype="application/x-www-form-urlencoded" method="POST">
    <p>Title: <input type="text" name="title" value="{{title}}"></p>
    <p>Author: <input type="text" name="author" value="{{author}}"></p>
    <p>Body: <textarea name="body">{{body}}</textarea></p>

    <input type="submit" value="MAKE CHANGES">
  </form> 

  <h1>Delete Article</h1>
  <form action="/articles/{{uri}}?_method=DELETE" method="POST">
    Title: <input type="text" name="author" value="{{title}}" disabled>
    <p><input type="submit" value="DELETE"></p>
  </form>

{{/each}}
